*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.container{
    /* position: absolute; */
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    width: 400px;
    height: auto;
    text-align: center;
    padding: 30px;
}

img{
    border-radius: 50%;
    animation: john 4s linear infinite;
}

@keyframes john{
    0%{
        transform: rotate(0deg);

    }

    100%{
        transform: rotate(360deg);
    }
}

.profile h2{
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

.profile p{
    font-size: 16px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color:  hsl(75, 94%, 57%);
    margin-top: 5px;
}

.description{
    margin: 15px;
}

.description p{
    color: white;
}

.btn{
    display: flex;
    flex-direction: column;
   
    
}

button{
    padding:15px ;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-family: "Inter", sans-serif;
    border: none;
    animation: bless 4s linear infinite;
}

@keyframes bless{
    0%{
        background: red;
    }

    25%{
        background-color: aqua;
    }

    50%{
        background-color: pink;
    }

    75%{
        background-color: greenyellow;
    }

    100%{
        background-color: blue;
    }
}


button:hover{
    background-color:hsl(75, 94%, 57%) ;
}



